body {
    background-color: #181818;
}

.chat-container {
    background-color: #2c2c2c;
    color: white;
}

.chat-body {
    background-color: #333;
}

.message.user p {
    background-color: #005f99;
}

.message.bot p {
    background-color: #4a4a4a;
}

.chat-input {
    background-color: #444;
}

.chat-input input {
    background-color: #555;
    color: white;
}

.chat-input button {
    background-color: #5e9c3b;
}
