/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 50px;
}

.credential-box {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.credential-box h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

input[type="submit"], input[type="button"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #3e8e41;
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.copyright {
    margin-bottom: 10px;
}