/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #e3f2fd;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    width: 350px;
    background: #fff;
    padding: 40px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .form-box h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .inputBox {
    margin-bottom: 15px;
  }
  
  .inputBox input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #007bff;
    border-radius: 5px;
  }
  
  .inputBox input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .inputBox input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .links {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
  }
  
  .links a {
    color: #007bff;
    text-decoration: none;
  }
  
  .links a:hover {
    color: #0056b3;
  }
  
  #darkModeToggle{
    background-color: white;
    border: 0px;
}
  
.toggle-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.toggle-container input {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    border-radius: 10px;
}