* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f8e9;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.5s ease;
}

.forgot-container {
  width: 350px;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0 10px 25px rgba(0, 255, 38, 0.2);
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.form-box h2 {
  text-align: center;
  color: #297d2d;
  margin-bottom: 20px;
}

.inputBox {
  margin-bottom: 15px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #85a186;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.5s ease;
}

.inputBox input[type="submit"] {
  background-color: #388e3c;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inputBox input[type="submit"]:hover {
  background-color: #2e7d32;
}

.links {
  text-align: center;
  font-size: 0.9rem;
}

.links a {
  color: #388e3c;
  text-decoration: none;
}

.links a:hover {
  color: #2e7d32;
}

.icon-container {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.sun, .moon {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s ease, opacity 1s ease;
}

.sun {
  color: #ffcc00;
  opacity: 1; /* Sun is hidden in light mode */
  transform: scale(1) rotate(0deg);
}

.moon {
  color: #333;
  opacity: 0; /* Moon is visible in light mode */
  transform: scale(0) rotate(-180deg);
}

.icon-container.animate .sun {
  opacity: 0;
  transform: scale(0) rotate(180deg); /* Sun becomes visible in dark mode */
}

.icon-container.animate .moon {
  opacity: 1;
  transform: scale(1) rotate(-360deg); /* Moon hides in dark mode */
}
